<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    
<!--[socket.io](수정중)
    <script src="/socket.io.js/socket.io.js"></script>
     // io 제공 script
    <script>
      const socket = io.connect("http://localhost:8080", {
        path: "/socket.io",
        transports: ["websocket"], // polling 생략
      });
      socket.on("from server", function (data) {
        // 이벤트 리스너, 여러개 할당 가능
        console.log(data);
        socket.emit("from client", "Message From Client"); // 이벤트 이름, 데이터
      });
    </script>
-->
  </body>
</html>
